/*********************************************/
/*@IMPORTS*/
/*********************************************/
* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0; } }

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important; }

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs, td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm, td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md, td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg, td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print, td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

/*********************************************/
/*FONT FACE*/
/*********************************************/
/*********************************************/
/*TRIANGLES*/
/*********************************************/
/*********************************************/
/*CUT TEXT WITH ELLIPSIS*/
/*********************************************/
/*********************************************/
/*COLORS*/
/*********************************************/
/*********************************************/
/*FONTS*/
/*********************************************/
/*********************************************/
/*SIZES*/
/*********************************************/
/*********************************************/
/*FONT FACE*/
/*********************************************/
/*********************************************/
/*TRIANGLES*/
/*********************************************/
/*********************************************/
/*CUT TEXT WITH ELLIPSIS*/
/*********************************************/
/*********************************************/
/*FONTS*/
/*********************************************/
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/Helvetica Neue/HelveticaNeues.woff2") format("woff2"), url("../fonts/Helvetica Neue/HelveticaNeues.woff") format("woff"), url("../fonts/Helvetica Neue/HelveticaNeues.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue - Medium Italic";
  src: url("../fonts/Helvetica Neue/HelveticaNeueCyr-Italic.woff2") format("woff2"), url("../fonts/Helvetica Neue/HelveticaNeueCyr-Italic.woff") format("woff"), url("../fonts/Helvetica Neue/HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("../fonts/Bebas Neue/BebasNeueBold.woff2") format("woff2"), url("../fonts/Bebas Neue/BebasNeueBold.woff") format("woff"), url("../fonts/Bebas Neue/BebasNeueBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

/*********************************************/
/*MAIN STYLES*/
/*********************************************/
html,
body {
  height: 100%; }

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-height: 100vh; }

.wrapperBlock {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%; }

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%; }

.blackWrapper {
  display: -webkit-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 1075; }

.bl_overflow {
  overflow: hidden; }

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%; }

.main {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto; }

.footer {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #000; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #000; }

p {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

button {
  border: none;
  padding: 0;
  margin: 0; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0; }

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0; }

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity .3s; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity .3s; }

input::placeholder,
textarea::placeholder {
  opacity: 1;
  transition: opacity .3s; }

input::-moz-focus-outer, input::-moz-focus-inner,
textarea::-moz-focus-outer,
textarea::-moz-focus-inner {
  border: 0;
  outline: none; }

.correct_right {
  padding-right: 0 !important; }

.correct_left {
  padding-left: 0 !important; }

.block_white {
  background-color: #fff; }

/*********************************************/
/*HEADER*/
/*********************************************/
.header {
  width: 100%;
  padding-top: 8px;
  min-height: 45px;
  box-shadow: 0 5px 5px rgba(16, 16, 15, 0.5);
  background-color: #de0914; }

.button_navigation {
  position: relative;
  width: 32px;
  height: 23px;
  border: none;
  box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  background: none;
  padding: 2px; }

.icon-bar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../image/sprite.png);
  background-position: -37px -94px;
  width: 33px;
  height: 24px;
  z-index: 2; }

.bl_navigation {
  position: relative;
  width: 100%; }

.bl_navigation__full {
  position: absolute;
  top: 28px;
  left: 0;
  padding: 22px;
  width: 201px;
  min-height: 242px;
  background-color: #000;
  opacity: 0.85;
  z-index: 5; }

.bl_navigation__item {
  width: 100%;
  margin-bottom: 15px; }

.bl_navigation__link {
  display: block;
  width: 100%;
  color: #fefefe;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300; }
  .bl_navigation__link:hover, .bl_navigation__link:focus {
    color: #fff;
    text-decoration: underline; }

.decor_triangleUp:after {
  content: "";
  position: absolute;
  top: -18px;
  left: 8px;
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 18px solid rgba(0, 0, 0, 0.85);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  opacity: 0.85; }

.bl_basket {
  position: relative;
  display: block;
  left: 63px;
  height: 100%;
  width: 134px; }

.icon_basket {
  float: left;
  background-image: url(../image/sprite.png);
  background-position: 0px -94px;
  width: 32px;
  height: 28px; }

.bl_basket__text {
  color: #fff;
  font-size: 12px;
  font-weight: 300; }

.bl_language {
  float: right;
  min-width: 70px;
  height: 100%; }

.bl_language__label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px #000000;
  background-color: #992727;
  cursor: pointer; }

.bl_language__radio {
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0; }

.bl_language__text {
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  color: #ff3f3e; }

.bl_language__radio:checked + .bl_language__text {
  color: #fff; }

.bl_search {
  position: relative;
  float: right;
  width: 95%;
  max-width: 234px;
  height: 30px;
  line-height: 30px;
  transition: all ease-in .3s; }

.bl_search.bl_search__active {
  left: 0;
  transition: all ease-in .3s; }

.bl_search__field {
  width: 100%;
  padding-right: 30px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 2px 5px #000000;
  background-color: #992727;
  text-indent: 7px;
  color: #fff;
  outline: none;
  border: none; }
  .bl_search__field::-webkit-input-placeholder {
    padding-left: 7px;
    color: #ff3f3e;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 300; }
  .bl_search__field:-ms-input-placeholder {
    padding-left: 7px;
    color: #ff3f3e;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 300; }
  .bl_search__field::placeholder {
    padding-left: 7px;
    color: #ff3f3e;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 300; }

.bl_search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background: none; }
  .bl_search__button:after {
    position: absolute;
    top: 5px;
    right: 5px;
    content: '';
    background-image: url(../image/sprite.png);
    background-position: -75px -94px;
    width: 28px;
    height: 22px; }

.btn_search__mobile {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #992727;
  border: 1px solid #000;
  margin-left: 20px; }

/*********************************************/
/*SECTIONS*/
/*********************************************/
.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important; }

.bl_global {
  width: 100%;
  min-height: 464px;
  background: url("../image/bg_green.png") 50% 50% no-repeat;
  background-size: cover; }

.container .clearfix:after {
  clear: both; }

.bl_global__inner {
  width: 100%;
  margin-top: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.bl_controls {
  width: 200px;
  position: relative; }

.bl_controls__enter {
  width: 100%;
  display: block;
  text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
  color: #fff;
  line-height: 14px; }
  .bl_controls__enter:hover, .bl_controls__enter:focus {
    color: #f00; }

.bl_controls__registration {
  width: 100%;
  display: block;
  text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
  color: #fff;
  text-decoration: underline;
  font-size: 15px; }
  .bl_controls__registration:hover, .bl_controls__registration:focus {
    color: #f00; }

.bl_socLinks {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.bl_soc__link {
  display: block;
  margin-top: 7px;
  margin-bottom: 6px;
  vertical-align: top;
  width: 29px;
  height: 29px; }

.bl_soc__twiter {
  background-image: url(../image/sprite.png);
  background-position: -102px -40px;
  width: 35px;
  height: 35px; }

.bl_soc__vk {
  background-image: url(../image/sprite.png);
  background-position: -61px 0px;
  width: 36px;
  height: 35px; }

.bl_soc__facebook {
  background-image: url(../image/sprite.png);
  background-position: 0px -54px;
  width: 35px;
  height: 35px; }

.bl_soc__ssh {
  background-image: url(../image/sprite.png);
  background-position: -102px 0px;
  width: 35px;
  height: 35px; }

.bl_soc__google {
  background-image: url(../image/sprite.png);
  background-position: -40px -54px;
  width: 35px;
  height: 35px; }

.bl_bigBasket {
  margin-top: 6px;
  padding: 8px 9px 0;
  padding-right: 0;
  display: block;
  width: 100%;
  color: #fff;
  height: 67px;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.29);
  background: #de3635 linear-gradient(to top, rgba(176, 39, 39, 0.54) 0%, rgba(222, 54, 53, 0.54) 100%); }

.bl_bigBasket__text,
.bl_basket__text {
  float: left;
  display: block; }

.bl_bigBasket__icon {
  float: left;
  display: inline-block;
  margin-top: 3px;
  margin-right: 28px;
  width: 54px;
  height: 47px;
  background-image: url(../image/sprite.png);
  background-position: 0px 0px;
  width: 56px;
  height: 49px; }

.bl_logo {
  min-width: 200px;
  text-align: center; }

.bl_logo__img {
  display: block;
  margin: 0 auto; }

.bl_logo__title {
  position: relative;
  text-align: center;
  margin: 0;
  color: #608b30;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase; }
  .bl_logo__title:after {
    content: "";
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    color: #608b30;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-32deg, rgba(1, 1, 1, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4); }

.bl_information {
  width: 201px;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
  font-family: "Helvetica Neue", sans-serif; }

.bl_information__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 27.7px; }

.bl_information__tel {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: #fff; }

.bl_information__data {
  font-weight: 300;
  line-height: 22px; }

.bl_information__button {
  width: 100%;
  color: #fff;
  height: 66px;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.29);
  background-color: #de3635;
  background-image: linear-gradient(to top, rgba(176, 39, 39, 0.54) 0%, rgba(222, 54, 53, 0.54) 100%);
  font-weight: 700;
  line-height: 24px;
  font-size: 26px;
  text-transform: uppercase;
  transition: all, .3s; }
  .bl_information__button:hover, .bl_information__button:focus {
    background-color: #992727;
    transition: all, .3s; }
  .bl_information__button .big {
    font-size: 30px; }

.product_slider {
  clear: both;
  width: 100%;
  margin-top: -236px; }

.product_slider__full {
  width: 100%; }

.product_slider__item {
  position: relative;
  max-width: 128px;
  margin: 0 auto;
  text-align: center; }

.product_slider__link {
  display: block;
  width: 100%; }

.product_slider__img {
  width: 100%;
  height: 280px; }

.product_slider__name {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #608b30;
  font-family: "Bebas Neue Bold", sans-serif;
  font-weight: 400;
  font-size: 63px;
  line-height: 1; }

.product_slider__material {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #608b30;
  font-family: "Bebas Neue Bold", sans-serif;
  font-size: 21px; }

.product_slider .owl-dots {
  z-index: 10;
  margin-top: 74px;
  text-align: center; }
  .product_slider .owl-dots .owl-dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #d5d2c8;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.75), inset 0 1px 3px #000000; }
    .product_slider .owl-dots .owl-dot.active {
      box-shadow: 0 1px 2px rgba(1, 1, 1, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.29);
      background-color: #ce3130;
      background-image: linear-gradient(to top, #b02727 0%, #de3635 100%); }

.bl_paper {
  width: 100%;
  background: url("../image/bg_1.png") 50% 50% repeat;
  min-height: 300px; }

.bl_banner {
  margin-top: 12px;
  position: relative;
  width: 100%; }

.bl_banner__img {
  min-width: 100%;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.75); }

.bl_banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  max-width: 503px;
  height: 82px;
  text-shadow: 0 1px 4px rgba(1, 1, 1, 0.75);
  color: #fff;
  font-family: "Helvetica Neue - Medium Italic", sans-serif;
  font-style: italic;
  font-size: 72px;
  font-weight: 400;
  line-height: 1; }

.bl_aboutCompany__title {
  display: block;
  margin: 84px auto 0;
  text-align: center;
  min-width: 190px;
  height: 35px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #608b30;
  font-family: "Bebas Neue Bold", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase; }

.bl_aboutCompany {
  position: relative;
  width: 100%;
  margin-top: 54px; }

.bl_aboutCompany__navigation {
  width: 100%; }

.bl_aboutCompany__fullNavigation {
  width: 100%; }

.bl_aboutCompany__item {
  display: block;
  width: 100%; }

.bl_aboutCompany__link {
  display: block;
  width: 100%;
  color: #006600;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase; }
  .bl_aboutCompany__link.active {
    color: #cc0000; }

.bl_ceo {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 10px rgba(1, 1, 1, 0.6);
  border: 7px solid #fff;
  background-color: #fff;
  box-sizing: border-box;
  padding: 42px 12px 50px 42px;
  z-index: 2; }
  .bl_ceo p {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    text-indent: 15px; }

.bl_ceo__showMore {
  display: none;
  margin-top: 10px;
  background: none;
  color: #f00; }

.banner_zone {
  width: 100%; }

.banner_zone__first {
  width: 100%;
  font-family: "Helvetica Neue", sans-serif; }

.banner_zone__text {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.51px;
  font-family: "Helvetica Neue", sans-serif; }

.banner_zone__tel {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.07px;
  font-family: "Helvetica Neue", sans-serif; }

.banner_zone__data {
  color: #333;
  font-size: 14px;
  font-weight: 300;
  line-height: 18.67px; }

.banner_zone__callMaster {
  display: block;
  margin-top: 5px;
  width: 100%;
  min-width: 171px;
  height: 56px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.29);
  background-color: #de3635;
  background-image: linear-gradient(to top, rgba(176, 39, 39, 0.54) 0%, rgba(222, 54, 53, 0.54) 100%); }
  .banner_zone__callMaster span {
    padding-top: 2px;
    text-shadow: 0 1px 1px rgba(1, 1, 1, 0.3);
    font-family: "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase; }
  .banner_zone__callMaster .big {
    font-size: 26px; }
  .banner_zone__callMaster:hover, .banner_zone__callMaster:focus {
    background-color: #992727;
    transition: all, .3s; }

.banner_arrea {
  display: block;
  margin-top: 56px;
  margin-bottom: 49px;
  width: 100%;
  min-width: 170px;
  height: 121px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.29);
  background-color: #de3635;
  background-image: linear-gradient(to top, rgba(176, 39, 39, 0.54) 0%, rgba(222, 54, 53, 0.54) 100%), repeating-linear-gradient(-45deg, #fff, #fff 10px, rgba(222, 54, 53, 0.54) 10px, rgba(222, 54, 53, 0.54) 20px); }

.banner_arrea__big {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  display: block;
  width: 134px;
  height: 75px;
  text-shadow: 0 1px 2px rgba(16, 16, 15, 0.5);
  font-family: "Bebas Neue Bold", sans-serif;
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 37.31px;
  z-index: 2; }
  .banner_arrea__big span {
    font-size: 48px;
    line-height: 43.8px; }

.for_bombed {
  display: none; }

/*********************************************/
/*FOOTER*/
/*********************************************/
.footer {
  position: relative;
  width: 100%; }

.bl_global2 {
  position: relative;
  width: 100%;
  min-height: 320px;
  margin-top: -62px;
  background: url("../image/bg_green.png") 50% 0% no-repeat;
  background-size: cover;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.footer_line {
  position: relative;
  width: 100%;
  margin-bottom: -52px;
  -ms-transform: rotate(-180deg) translateY(-52px);
      transform: rotate(-180deg) translateY(-52px);
  min-height: 44px;
  line-height: 44px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 2px 6px rgba(0, 0, 0, 0.75);
  background-color: #db3534; }

.footer_copiraite {
  display: inline-block;
  color: #ff6666;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.1px; }

.footer_navigation {
  float: right; }

.footer_navigation__item {
  display: inline-block; }

.footer_navigation__link {
  margin-left: 10px;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.1px; }
  .footer_navigation__link:hover, .footer_navigation__link:focus {
    color: #fff;
    text-decoration: underline; }

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/
/*********************************************/
/*COLORS*/
/*********************************************/
/*********************************************/
/*FONTS*/
/*********************************************/
/*********************************************/
/*SIZES*/
/*********************************************/
/*********************************************/
/*Desktop First Method*/
/*********************************************/
/* Large Devices, Wide Screens 1280px */
@media only screen and (max-width: 1200px) {
  .bl_basket {
    left: 0; }
  .bl_bigBasket__text, .bl_basket__text {
    float: none; }
  .bl_banner__text {
    font-size: 66px; } }

/* Medium Devices, Desktops 992px */
@media only screen and (max-width: 991px) {
  .header {
    position: fixed;
    z-index: 4; }
  .bl_basket {
    width: 152px; }
  .button_navigation {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3; }
  .bl_banner__text {
    font-size: 48px; }
  .bl_global__inner {
    margin-top: 55px; }
  .bl_controls__registration {
    margin-top: 10px; }
  .bl_search {
    float: none; }
  .bl_language {
    float: none; }
  .mob_controls {
    padding-left: 20px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .bl_ceo__wrapper {
    position: relative;
    height: 300px;
    overflow: hidden; }
  .bl_ceo__showMore {
    display: block; }
  .banner_zone__first {
    text-align: center; }
  .bl_global2 {
    min-height: 160px;
    margin-top: 20px; }
  .bl_navigation__full {
    top: 56px;
    left: -16px; } }

/* Small Devices, Tablets 768px */
@media only screen and (max-width: 768px) {
  .bl_search {
    position: fixed;
    top: 48px;
    left: -100%; }
  .btn_search__mobile {
    display: block; }
  .bl_global__inner {
    display: block; }
  .bl_controls {
    text-align: center;
    margin: 10px auto; }
  .bl_controls__enter {
    padding-top: 18px; }
  .bl_information {
    margin: 0 auto; }
  .bl_banner__text {
    font-size: 6vw;
    height: 50px; }
  .footer_copiraite {
    width: 100%;
    text-align: center; }
  .footer_navigation {
    width: 100%;
    text-align: center; }
  .footer_navigation__item {
    display: block; } }

@media only screen and (max-width: 600px) {
  .bl_logo__img {
    width: 10%; }
  .bl_logo__title {
    font-size: 35px; }
  .bl_information__button {
    display: none; }
  .bl_aboutCompany__link {
    text-align: center; } }

/* Extra Small Devices, Phones 480px */
@media only screen and (max-width: 480px) {
  .btn_search__mobile {
    -ms-flex-order: 3;
        order: 3; }
  .bl_language {
    display: none; }
  .bl_banner__text {
    height: 30px; } }

/* Custom, iPhone Retina 320px */
@media only screen and (max-width: 250px) {
  .header, div:not(.for_bombed) {
    display: none; }
  .for_bombed {
    display: block !important;
    width: 100%;
    min-height: 200px;
    border: 1px solid #000; }
    .for_bombed img {
      display: block;
      width: 100%;
      margin: 0 auto; }
    .for_bombed a {
      font-size: 16px;
      width: 100%;
      display: block;
      text-align: center; } }
