/*********************************************/
/*COLORS*/
/*********************************************/

$color_blue: #1162ab;
$color_blue2: #0d8dd2;
$color_blueDark: #014385;

$color_red: #de0914;
$color_pink: #f00;

$color_green: #608b30;


$color_grey: #6f6f6f;
$color_grey2: #333;
$color_grey3: #e5e5e5;
$color_grey4:  #ece8e7;

$color_lightGrey: #f1f1f1;


/*********************************************/
/*FONTS*/
/*********************************************/

$HelveticaNeue: "Helvetica Neue", sans-serif;
$BebasNeueBold: "Bebas Neue Bold", sans-serif;
$HelveticaNeueItalic: "Helvetica Neue - Medium Italic", sans-serif;

/*********************************************/
  /*SIZES*/
/*********************************************/
