/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Helvetica Neue", "../fonts/Helvetica Neue/HelveticaNeues", 400, normal, woff2 woff ttf );
@include font-face("Bebas Neue Bold", "../fonts/Bebas Neue/BebasNeueBold", 400, normal, woff2 woff ttf );



/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
}

body {
  font-family: $HelveticaNeue;
  font-size: 18px;
  font-weight: 400;
  min-width: 320px;
  position: relative;

  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  min-height: 100vh;

}

.wrapperBlock {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  position: relative;
  width: 100%;
  height: 100%;
}

.bl_wrappen {
  position: relative;
  width: 100%;
  height: 100%;
}

.blackWrapper {

  display: -webkit-box;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //opacity: 0;
  background-color: rgb(51, 51, 51);
  z-index: 1075;
}

.bl_overflow {
  overflow: hidden;
}

.bl_buyOneClick {
  position: relative;
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

input,
textarea {

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    opacity: 1;
    transition: opacity .3s;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}
.correct_right {
  padding-right: 0!important;
}

.correct_left {
  padding-left: 0!important;
}

.block_white {
  background-color: #fff;
}
/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
}


.bl_global{
  width: 100%;
  min-height: 514px;
  background: url("../image/bg_green.png") 50% 50% no-repeat;
}

.bl_global__inner{
  width: 100%;
  margin-top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

///
.bl_controls{
  width: 200px;
  position: relative;
}
.bl_controls__enter{
  width: 100%;
  display: block;
  text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
  color: #fff;
  line-height: 14px;
  &:hover,
  &:focus{
    color: #f00;
  }
}
.bl_controls__registration{
  width: 100%;
  display: block;
  text-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
  color: #fff;
  text-decoration: underline;
  font-size: 15px;
  &:hover,
  &:focus{
    color: #f00;
  }
}

.bl_socLinks{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bl_soc__link{
  display: block;
  margin-top: 7px;
  margin-bottom: 6px;
  width: 29px;
  height: 29px;
  border: 1px solid #000;
  box-shadow: 0 1px 3px rgba(17, 17, 14, 0.5);
}

.bl_bigBasket{
  margin-top: 6px;
  padding: 8px 9px 0;
  display: block;
  width: 100%;
  color: #fff;
  height: 67px;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.29);
  background-color: #de3635;
  background-image: linear-gradient(to top, rgba(176, 39, 39, 0.54) 0%, rgba(222, 54, 53, 0.54) 100%);
}

.bl_bigBasket__icon{
  float: left;
  display: inline-block;
  margin-top: 3px;
  margin-right: 28px;
  width: 54px;
  height: 47px;
  box-shadow: 0 1px 1px rgba(1, 1, 1, 0.5);
  @include sprite($icon-basket-big);
}



.bl_logo{
  min-width:200px;
  text-align: center;
}
.bl_logo__img{
  display: block;
  margin: 0 auto;
}


.bl_logo__title{
  text-align: center;
  background-image: linear-gradient(-32deg, rgba(1, 1, 1, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  color: $color_green;
  font-family: $HelveticaNeue;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
